[submodule "third_party/crow"]
	path = third_party/crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "external/httplib"]
	path = external/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = develop
